body{
    display: flex;
    height: 100vh;
}

#personal{
    flex: 2;
    background-color: rgb(81, 96, 91);
    display: flex;
    flex-direction: column;
    
    color: antiquewhite;
    


}
#educational{
    flex: 8;
    background-color:rgb(106, 222, 242);

    
    
}

#personal img{
    width:110px ;
    border-radius: 50%;
    margin-top: 10px;
    margin: 10px auto;
    display: block;

}

#personal h2{
    color:black;
    background-color: brown;
    text-align: center;
    padding: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      

}

#personal p{
    margin-left: 20px;
    letter-spacing: 1px;
}

.skill, .language ul{
    letter-spacing: 1px;
}



#educational h1{
    text-align: center;
     background-color: brown;
   
    margin: 0%;
    padding: 20px;
    letter-spacing: 2px;
    color: antiquewhite;
    font-weight: bold;

}

.content{
        padding-left: 50px;

}
#educational h3{
    background-color: rgb(234, 161, 148);
    width: 200px;
    height: 30px;
    padding: 2px 6px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    gap: 5px;

}

#educational h3::after{
    content: "";
    position: absolute;
    transform: translateY(1700%);
    height: 1px;
    background-color: rgb(91, 74, 74);
    width: 935px;

}

.education p{
    color: blueviolet;
}

.font-color{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.font-color2{
    font-size: small;
    color: rgb(63, 58, 58);
}
.about{
    letter-spacing: 1px;
    font-size:14px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    padding-right: 50px;
}